
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5; /* Світло-сірий фон, як у сучасних сервісів */
  color: #333;
  line-height: 1.6;
}

/* Стилізація заголовків */
h1, h2 {
  color: #1a365d; /* Темно-синій "залізничний" колір */
  margin-bottom: 1rem;
}

/* Глобальні налаштування для кнопок (якщо будуть) */
button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(56, 8, 100);
  cursor: pointer;
  border: none;
  transition: background 0.3s ease;
}